@import "./base.css";
@import "./styles.css";

* {
  color: var(--dark-theme-color);
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  background-image: url(@/assets/images/Vector1.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

button {
  cursor: pointer;
}
