@import "./base.css";
@import "./styles.css";

* {
  color: var(--dark-theme-color);
  box-sizing: border-box;
}

body {
  color: var(--vt-c-white);
  background-color: var(--background-color);
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.router-link {
  text-decoration: none;
}

b {
  font-weight: 700;
}
