@import "./base.css";
@import "./styles.css";

* {
  color: var(--dark-theme-color);
  box-sizing: border-box;
}

body {
  color: var(--vt-c-white);
  background-color: var(--background-color);
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.router-link {
  text-decoration: none;
}
