@font-face {
  font-family: "Kinetica";
  src: url(../fonts/Kinetica-Light.otf);
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "KineticaBold";
  src: url(@/assets/fonts/Kinetica-Bold.otf);
}

:root {
  --inte-semibold-font: "InterSemiBold", sans-serif;
  --inter-font: "Inter", sans-serif;
  --kinetica-font: "Kinetica", sans-serif;
  --kinetica-bold-font: "KineticaBold", sans-serif;
  --dark-theme-color: #ffffff;
  --background-color: #0c0c09;

  --header-height: 0;
  --content-opacity: 0.7;
}
